# Database Client by Freda Victor

## Exercise: Set up the client project

### Step 1
Setting environtment. In this assignment it was not recommended create a virtual environment, 

```bash
python --version
python -m pip intall jupyter
jupyter notebook
!pip install mysql-connector-python
```

 
To give a better format of outputs I will use `tabulate` module. 

```bash
!pip install tabulate
```

In [95]:
from tabulate import tabulate

### Step 2

Import mysql connector python module to create a connection with the database

In [96]:
import mysql.connector as connector

### Step 3

Then create a connection object with the databse

In [97]:
conn = connector.connect(
    user='meta',
    password='meta-database2023$',
    database='littlelemondm'
)

## Exercise: Add query functions

### Task One

Taks one already done in previous steps. Connection object with the database was created.

### Task two

In this second task, you now need to query the database to show all tables within the database.

In [101]:
show_tables_query = """SHOW TABLES"""
cursor = conn.cursor()
cursor.execute(show_tables_query)
results = cursor.fetchall()
for table in results:
    print(*table)

bookings
courses
customerdetails
customers
menuitems
menus
menusmenusitems
orderdeliverystatus
orders
ordersview
roles
staff

## Task 3: Query with table JOIN

In this task it is required using JOIN clause to ask queries to the database:

### Step one

The tables used are:
- Customers table
- CustomersDetails table
- Orders table

### Step two

Lastly, the queries will then be:

In [99]:
query = """
SELECT c.CustomerName, co.Email, co.PhoneNumber, co.Address, co.Country, co.City, o.TotalCost
FROM Customers as c
INNER JOIN CustomerDetails as co ON c.CustomerID = co.CustomerID
INNER JOIN Orders as o ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60"""

### Step three

Execute previous query

In [100]:
cursor.execute(query)
details = cursor.fetchall()
print(tabulate(details))

---------------  ------------------  ----------  ------------------  ------  ---------  ---
Veronica Lodge   veronica@email.com  4896789911  Antartica stree 98  Alska   USA        120
Betty Cooper     betty@email.com     3456789900  Stret #2 233        Tokio   Japan       88
Cheryl Blossomm  cheryl@email.com    1209789722  Blue sky            Sidney  Australia   90
---------------  ------------------  ----------  ------------------  ------  ---------  ---